<div class="players">
  <div class="player1-board">
    <div class="cell1 _000"></div>
    <div class="cell1 _001"></div>
    <div class="cell1 _002"></div>
    <div class="cell1 _003"></div>
    <div class="cell1 _004"></div>
    <div class="cell1 _005"></div>
    <div class="cell1 _006"></div>
    <div class="cell1 _007"></div>
    <div class="cell1 _008"></div>
    <div class="cell1 _009"></div>
    <div class="cell1 _010"></div>
    <div class="cell1 _011"></div>
    <div class="cell1 _012"></div>
    <div class="cell1 _013"></div>
    <div class="cell1 _014"></div>
    <div class="cell1 _015"></div>
    <div class="cell1 _016"></div>
    <div class="cell1 _017"></div>
    <div class="cell1 _018"></div>
    <div class="cell1 _019"></div>
    <div class="cell1 _020"></div>
    <div class="cell1 _021"></div>
    <div class="cell1 _022"></div>
    <div class="cell1 _023"></div>
    <div class="cell1 _024"></div>
    <div class="cell1 _025"></div>
    <div class="cell1 _026"></div>
    <div class="cell1 _027"></div>
    <div class="cell1 _028"></div>
    <div class="cell1 _029"></div>
    <div class="cell1 _030"></div>
    <div class="cell1 _031"></div>
    <div class="cell1 _032"></div>
    <div class="cell1 _033"></div>
    <div class="cell1 _034"></div>
    <div class="cell1 _035"></div>
    <div class="cell1 _036"></div>
    <div class="cell1 _037"></div>
    <div class="cell1 _038"></div>
    <div class="cell1 _039"></div>
    <div class="cell1 _040"></div>
    <div class="cell1 _041"></div>
    <div class="cell1 _042"></div>
    <div class="cell1 _043"></div>
    <div class="cell1 _044"></div>
    <div class="cell1 _045"></div>
    <div class="cell1 _046"></div>
    <div class="cell1 _047"></div>
    <div class="cell1 _048"></div>
    <div class="cell1 _049"></div>
    <div class="cell1 _050"></div>
    <div class="cell1 _051"></div>
    <div class="cell1 _052"></div>
    <div class="cell1 _053"></div>
    <div class="cell1 _054"></div>
    <div class="cell1 _055"></div>
    <div class="cell1 _056"></div>
    <div class="cell1 _057"></div>
    <div class="cell1 _058"></div>
    <div class="cell1 _059"></div>
    <div class="cell1 _060"></div>
    <div class="cell1 _061"></div>
    <div class="cell1 _062"></div>
    <div class="cell1 _063"></div>
    <div class="cell1 _064"></div>
    <div class="cell1 _065"></div>
    <div class="cell1 _066"></div>
    <div class="cell1 _067"></div>
    <div class="cell1 _068"></div>
    <div class="cell1 _069"></div>
    <div class="cell1 _070"></div>
    <div class="cell1 _071"></div>
    <div class="cell1 _072"></div>
    <div class="cell1 _073"></div>
    <div class="cell1 _074"></div>
    <div class="cell1 _075"></div>
    <div class="cell1 _076"></div>
    <div class="cell1 _077"></div>
    <div class="cell1 _078"></div>
    <div class="cell1 _079"></div>
    <div class="cell1 _080"></div>
    <div class="cell1 _081"></div>
    <div class="cell1 _082"></div>
    <div class="cell1 _083"></div>
    <div class="cell1 _084"></div>
    <div class="cell1 _085"></div>
    <div class="cell1 _086"></div>
    <div class="cell1 _087"></div>
    <div class="cell1 _088"></div>
    <div class="cell1 _089"></div>
    <div class="cell1 _090"></div>
    <div class="cell1 _091"></div>
    <div class="cell1 _092"></div>
    <div class="cell1 _093"></div>
    <div class="cell1 _094"></div>
    <div class="cell1 _095"></div>
    <div class="cell1 _096"></div>
    <div class="cell1 _097"></div>
    <div class="cell1 _098"></div>
    <div class="cell1 _099"></div>
    <div class="cell1 _100"></div>
    <div class="cell1 _101"></div>
    <div class="cell1 _102"></div>
    <div class="cell1 _103"></div>
    <div class="cell1 _104"></div>
    <div class="cell1 _105"></div>
    <div class="cell1 _106"></div>
    <div class="cell1 _107"></div>
    <div class="cell1 _108"></div>
    <div class="cell1 _109"></div>
    <div class="cell1 _110"></div>
    <div class="cell1 _111"></div>
    <div class="cell1 _112"></div>
    <div class="cell1 _113"></div>
    <div class="cell1 _114"></div>
    <div class="cell1 _115"></div>
    <div class="cell1 _116"></div>
    <div class="cell1 _117"></div>
    <div class="cell1 _118"></div>
    <div class="cell1 _119"></div>
    <div class="cell1 _120"></div>
    <div class="cell1 _121"></div>
    <div class="cell1 _122"></div>
    <div class="cell1 _123"></div>
    <div class="cell1 _124"></div>
    <div class="cell1 _125"></div>
    <div class="cell1 _126"></div>
    <div class="cell1 _127"></div>
    <div class="cell1 _128"></div>
    <div class="cell1 _129"></div>
    <div class="cell1 _130"></div>
    <div class="cell1 _131"></div>
    <div class="cell1 _132"></div>
    <div class="cell1 _133"></div>
    <div class="cell1 _134"></div>
    <div class="cell1 _135"></div>
    <div class="cell1 _136"></div>
    <div class="cell1 _137"></div>
    <div class="cell1 _138"></div>
    <div class="cell1 _139"></div>
    <div class="cell1 _140"></div>
    <div class="cell1 _141"></div>
    <div class="cell1 _142"></div>
    <div class="cell1 _143"></div>
    <div class="cell1 _144"></div>
    <div class="cell1 _145"></div>
    <div class="cell1 _146"></div>
    <div class="cell1 _147"></div>
    <div class="cell1 _148"></div>
    <div class="cell1 _149"></div>
    <div class="cell1 _150"></div>
    <div class="cell1 _151"></div>
    <div class="cell1 _152"></div>
    <div class="cell1 _153"></div>
    <div class="cell1 _154"></div>
    <div class="cell1 _155"></div>
    <div class="cell1 _156"></div>
    <div class="cell1 _157"></div>
    <div class="cell1 _158"></div>
    <div class="cell1 _159"></div>
  </div>
  <div class="player2-board">
    <div class="cell2 _000"></div>
    <div class="cell2 _001"></div>
    <div class="cell2 _002"></div>
    <div class="cell2 _003"></div>
    <div class="cell2 _004"></div>
    <div class="cell2 _005"></div>
    <div class="cell2 _006"></div>
    <div class="cell2 _007"></div>
    <div class="cell2 _008"></div>
    <div class="cell2 _009"></div>
    <div class="cell2 _010"></div>
    <div class="cell2 _011"></div>
    <div class="cell2 _012"></div>
    <div class="cell2 _013"></div>
    <div class="cell2 _014"></div>
    <div class="cell2 _015"></div>
    <div class="cell2 _016"></div>
    <div class="cell2 _017"></div>
    <div class="cell2 _018"></div>
    <div class="cell2 _019"></div>
    <div class="cell2 _020"></div>
    <div class="cell2 _021"></div>
    <div class="cell2 _022"></div>
    <div class="cell2 _023"></div>
    <div class="cell2 _024"></div>
    <div class="cell2 _025"></div>
    <div class="cell2 _026"></div>
    <div class="cell2 _027"></div>
    <div class="cell2 _028"></div>
    <div class="cell2 _029"></div>
    <div class="cell2 _030"></div>
    <div class="cell2 _031"></div>
    <div class="cell2 _032"></div>
    <div class="cell2 _033"></div>
    <div class="cell2 _034"></div>
    <div class="cell2 _035"></div>
    <div class="cell2 _036"></div>
    <div class="cell2 _037"></div>
    <div class="cell2 _038"></div>
    <div class="cell2 _039"></div>
    <div class="cell2 _040"></div>
    <div class="cell2 _041"></div>
    <div class="cell2 _042"></div>
    <div class="cell2 _043"></div>
    <div class="cell2 _044"></div>
    <div class="cell2 _045"></div>
    <div class="cell2 _046"></div>
    <div class="cell2 _047"></div>
    <div class="cell2 _048"></div>
    <div class="cell2 _049"></div>
    <div class="cell2 _050"></div>
    <div class="cell2 _051"></div>
    <div class="cell2 _052"></div>
    <div class="cell2 _053"></div>
    <div class="cell2 _054"></div>
    <div class="cell2 _055"></div>
    <div class="cell2 _056"></div>
    <div class="cell2 _057"></div>
    <div class="cell2 _058"></div>
    <div class="cell2 _059"></div>
    <div class="cell2 _060"></div>
    <div class="cell2 _061"></div>
    <div class="cell2 _062"></div>
    <div class="cell2 _063"></div>
    <div class="cell2 _064"></div>
    <div class="cell2 _065"></div>
    <div class="cell2 _066"></div>
    <div class="cell2 _067"></div>
    <div class="cell2 _068"></div>
    <div class="cell2 _069"></div>
    <div class="cell2 _070"></div>
    <div class="cell2 _071"></div>
    <div class="cell2 _072"></div>
    <div class="cell2 _073"></div>
    <div class="cell2 _074"></div>
    <div class="cell2 _075"></div>
    <div class="cell2 _076"></div>
    <div class="cell2 _077"></div>
    <div class="cell2 _078"></div>
    <div class="cell2 _079"></div>
    <div class="cell2 _080"></div>
    <div class="cell2 _081"></div>
    <div class="cell2 _082"></div>
    <div class="cell2 _083"></div>
    <div class="cell2 _084"></div>
    <div class="cell2 _085"></div>
    <div class="cell2 _086"></div>
    <div class="cell2 _087"></div>
    <div class="cell2 _088"></div>
    <div class="cell2 _089"></div>
    <div class="cell2 _090"></div>
    <div class="cell2 _091"></div>
    <div class="cell2 _092"></div>
    <div class="cell2 _093"></div>
    <div class="cell2 _094"></div>
    <div class="cell2 _095"></div>
    <div class="cell2 _096"></div>
    <div class="cell2 _097"></div>
    <div class="cell2 _098"></div>
    <div class="cell2 _099"></div>
    <div class="cell2 _100"></div>
    <div class="cell2 _101"></div>
    <div class="cell2 _102"></div>
    <div class="cell2 _103"></div>
    <div class="cell2 _104"></div>
    <div class="cell2 _105"></div>
    <div class="cell2 _106"></div>
    <div class="cell2 _107"></div>
    <div class="cell2 _108"></div>
    <div class="cell2 _109"></div>
    <div class="cell2 _110"></div>
    <div class="cell2 _111"></div>
    <div class="cell2 _112"></div>
    <div class="cell2 _113"></div>
    <div class="cell2 _114"></div>
    <div class="cell2 _115"></div>
    <div class="cell2 _116"></div>
    <div class="cell2 _117"></div>
    <div class="cell2 _118"></div>
    <div class="cell2 _119"></div>
    <div class="cell2 _120"></div>
    <div class="cell2 _121"></div>
    <div class="cell2 _122"></div>
    <div class="cell2 _123"></div>
    <div class="cell2 _124"></div>
    <div class="cell2 _125"></div>
    <div class="cell2 _126"></div>
    <div class="cell2 _127"></div>
    <div class="cell2 _128"></div>
    <div class="cell2 _129"></div>
    <div class="cell2 _130"></div>
    <div class="cell2 _131"></div>
    <div class="cell2 _132"></div>
    <div class="cell2 _133"></div>
    <div class="cell2 _134"></div>
    <div class="cell2 _135"></div>
    <div class="cell2 _136"></div>
    <div class="cell2 _137"></div>
    <div class="cell2 _138"></div>
    <div class="cell2 _139"></div>
    <div class="cell2 _140"></div>
    <div class="cell2 _141"></div>
    <div class="cell2 _142"></div>
    <div class="cell2 _143"></div>
    <div class="cell2 _144"></div>
    <div class="cell2 _145"></div>
    <div class="cell2 _146"></div>
    <div class="cell2 _147"></div>
    <div class="cell2 _148"></div>
    <div class="cell2 _149"></div>
    <div class="cell2 _150"></div>
    <div class="cell2 _151"></div>
    <div class="cell2 _152"></div>
    <div class="cell2 _153"></div>
    <div class="cell2 _154"></div>
    <div class="cell2 _155"></div>
    <div class="cell2 _156"></div>
    <div class="cell2 _157"></div>
    <div class="cell2 _158"></div>
    <div class="cell2 _159"></div>
  </div>
</div>
